#JB1001 {
    top: 970px;
    left: 442px;
    width: 304px;
    height: 625px;
}

#JB1002 {
    top: 1733px;
    left: 442px;
    width: 304px;
    height: 444px;
}

#JB1003 {
    top: 2177px;
    left: 442px;
    width: 304px;
    height: 260px;
}

#JB1004 {
    top: 970px;
    left: 850px;
    width: 408px;
    height: 294px;
}


#JB1005 {
    top: 1364px;
    left: 850px;
    width: 408px;
    height: 711px;
}

#JB1006_1 {
    top: 2177px;
    left: 850px;
    width: 408px;
    height: 202px;
}

#JB1006_2 {
    top: 2379px;
    left: 1058px;
    width: 200px;
    height: 154px;
}


#JB1007 {
    top: 970px;
    left: 1258px;
    width: 146px;
    height: 294px;
}

#JB1008 {
    top: 1364px;
    left: 1258px;
    width: 314px;
    height: 461px;
}

#JB1009 {
    top: 1825px;
    left: 1258px;
    width: 314px;
    height: 250px;
}

#JB1010 {
    top: 2178px;
    left: 1260px;
    width: 615px;
    height: 348px;
}

#JB1011_1 {
    top: 970px;
    left: 1518px;
    width: 354px;
    height: 294px;
}

#JB1011_2 {
    top: 1264px;
    left: 1680px;
    width: 192px;
    height: 507px;
}

#JB1012 {
    top: 1771px;
    left: 1680px;
    width: 192px;
    height: 406px;
}

#JB1013 {
    top: 970px;
    left: 1890px;
    width: 797px;
    height: 1467px;
}

#JB1014 {
    top: 970px;
    left: 2687px;
    width: 588px;
    height: 1563px;
}
