#JD1001 {
    top: 355px;
    left: 145px;
    width: 89px;
    height: 99px;
}

#JD1002 {
    top: 355px;
    left: 235px;
    width: 231px;
    height: 99px;
}

#JD1003 {
    top: 454px;
    left: 234px;
    width: 231px;
    height: 81px;
}

#JD1004 {
    top: 535px;
    left: 234px;
    width: 231px;
    height: 89px;
}


#JD1005_1 {
    top: 454px;
    left: 465px;
    width: 127px;
    height: 170px;
}

#JD1005_2 {
    top: 355px;
    left: 592px;
    width: 178px;
    height: 269px;
}


#JD1005_3 {
    top: 355px;
    left: 770px;
    width: 116px;
    height: 132px;
}
















































