#JD5001 {
    top: 352px;
    left: 154px;
    width: 101px;
    height: 103px;
}

#JD5002 {
    top: 487px;
    left: 254px;
    width: 66px;
    height: 137px;
}

#JD5003 {
    top: 352px;
    left: 254px;
    width: 66px;
    height: 103px;
}

#JD5004 {
    top: 487px;
    left: 319px;
    width: 66px;
    height: 137px;
}
#JD5005 {
    top: 352px;
    left: 319px;
    width: 66px;
    height: 103px;
}
#JD5006 {
    top: 487px;
    left: 384px;
    width: 65px;
    height: 137px;
}
#JD5007 {
    top: 352px;
    left: 384px;
    width: 66px;
    height: 103px;
}
#JD5008 {
    top: 487px;
    left: 448px;
    width: 66px;
    height: 137px;
}
#JD5009 {
    top: 352px;
    left: 448px;
    width: 66px;
    height: 103px;
}
#JD5010 {
    top: 487px;
    left: 513px;
    width: 65px;
    height: 137px;
}

#JD5011 {
    top: 352px;
    left: 513px;
    width: 65px;
    height: 103px;
}
#JD5012 {
    top: 487px;
    left: 577px;
    width: 65px;
    height: 137px;
}
#JD5013 {
    top: 352px;
    left: 577px;
    width: 65px;
    height: 103px;
}
#JD5014 {
    top: 487px;
    left: 643px;
    width: 65px;
    height: 137px;
}
#JD5015 {
    top: 352px;
    left: 643px;
    width: 65px;
    height: 103px;
}
#JD5016 {
    top: 487px;
    left: 707px;
    width: 66px;
    height: 137px;
}
#JD5017 {
    top: 352px;
    left: 707px;
    width: 66px;
    height: 103px;
}
#JD5018 {
    top: 487px;
    left: 772px;
    width: 67px;
    height: 137px;
}
#JD5019 {
    top: 352px;
    left: 772px;
    width: 67px;
    height: 103px;
}
#JD5020 {
    top: 352px;
    left: 838px;
    width: 126px;
    height: 103px;
}