body {
}

.topbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.room-info div {
    padding-left: 20px;
    display: inline-block;
    text-align: left;
    color:darkgrey;
}
.room-info table {
    width:100%;
}
.room-info span {
    color:cadetblue;
}


.selectpicker-label {
    width: 100%;
    color: white;
}


.container {
    width: 100%;
    min-height:600px;
    margin: 0px;
    overflow-y: auto;
}

.hide {
    display: none;
}

.corp-photo {

}

    .corp-photo img {
        background-size: cover;
        height: 200px;
        width: 100%;
    }