body {
}

.topbar {
    
    margin-top:10px;
    margin-bottom:10px;
}

.selectpicker-label {
    width: 100%;
    color: white;
}


.container {
    width: 100%;
    margin: 0px;
    overflow-y: auto;
}

.hide {
    display: none;
}
