
.map {
    margin: auto;
    position: relative;
    border: #eeeeee solid 1px;
    width: 1016px;
    height: 720px;
}


.map-Z-1 {
    background: url(../images/Z-1.jpg) no-repeat;
    background-size: cover;
}

.map-Z-2 {
    background: url(../images/Z-2.jpg) no-repeat;
    background-size: cover;
}

.map-Z-2 {
    background: url(../images/Z-3.jpg) no-repeat;
    background-size: cover;
}

.map-B-1 {
    background: url(../images/B-1.jpg) no-repeat;
    background-size: cover;
}

.map-D-4 {
    background: url(../images/D-4.jpg) no-repeat;
    background-size: cover;
}

.map-D-5 {
    background: url(../images/D-5.jpg) no-repeat;
    background-size: cover;
}