#JZ1001 {
    top: 183px;
    left: 155px;
    width: 130px;
    height: 90px;
}

#JZ1002 {
    top: 299px;
    left: 187px;
    width: 128px;
    height: 100px;
}
#JZ1003_1 {
    top: 423px;
    left: 210px;
    width: 134px;
    height: 73px;
}#JZ1003_2 {
    top: 496px;
    left: 243px;
    width: 261px;
    height: 143px;
}#JZ1003_3 {
    top: 496px;
    left: 504px;
    width: 36px;
    height: 60px;
}
#JZ1004 {
    top: 496px;
    left: 639px;
    width: 224px;
    height: 143px;
}
#JZ1005 {
    top: 496px;
    left: 863px;
    width: 91px;
    height: 143px;
}