#JZ4001-C  {
    top: 184px;
    left: 150px;
    width: 50px;
    height: 79px;
}

#JZ4002 {
    top: 198px;
    left: 245px;
    width: 50px;
    height: 94px;
}

#JZ4003-C {
    top: 275px;
    left: 163px;
    width: 58px;
    height: 37px;
}

#JZ4004-E {
    top: 300px;
    left: 270px;
    width: 45px;
    heigh t: 89px;
}


#JZ4005-D {
    top: 321px;
    left: 181px;
    width: 53px;
    height: 96px;
}

#JZ4006-E {
    top: 400px;
    left: 279px;
    width: 60px;
    height: 28px;
}
#JZ4007-D {
    top: 424px;
    left: 200px;
    width: 55px;
    height: 31px;
}


#JZ4008_1 {
    top: 439px;
    left: 295px;
    width: 54px;
    height: 49px;
}
#JZ4008_2 {
    top: 487px;
    left: 310px;
    width: 51px;
    height: 70px;
}

#JZ4009 {
    top: 461px;
    left: 217px;
    width: 48px;
    height: 57px;
}

#JZ4011_2 {
    top: 525px;
    left: 228px;
    width: 54px;
    height: 55px;
}

#JZ4011_1 {
    top: 579px;
    left: 238px;
    width: 123px;
    height: 61px;
}

#JZ4010 {
    top: 494px;
    left: 360px;
    width: 37px;
    height: 63px;
}

#JZ4013 {
    top: 579px;
    left: 360px;
    width: 37px;
    height: 61px;
}

#JZ4012 {
    top: 494px;
    left: 396px;
    width: 37px;
    height: 63px;
}

#JZ4015 {
    top: 579px;
    left: 396px;
    width: 37px;
    height: 61px;
}

#JZ4017 {
    top: 579px;
    left: 432px;
    width: 37px;
    height: 61px;
}

#JZ4016 {
    top: 494px;
    left: 468px;
    width: 37px;
    height: 63px;
}

#JZ4019 {
    top: 579px;
    left: 468px;
    width: 37px;
    height: 61px;
}

#JZ4018 {
    top: 494px;
    left: 504px;
    width: 35px;
    height: 63px;
}

#JZ4021 {
    top: 579px;
    left: 504px;
    width: 100px;
    height: 61px;
}

#JZ4020 {
    top: 603px;
    left: 494px;
    width: 142px;
    height: 146px;
}
 
#JZ4022 {
    top: 494px;
    left: 744px;
    width: 176px;
    height: 146px;
}














































