#JE2001_1 {
    top: 272px;
    left: 182px;
    width: 231px;
    height: 64px;
}
#JE2001_2 {
    top: 244px;
    left: 262px;
    width: 151px;
    height: 28px;
}
#JE2001_3 {
    top: 220px;
    left: 333px;
    width: 80px;
    height: 24px;
}     

#JE2002 {
    top: 191px;
    left: 413px;
    width: 150px;
    height: 145px;
}

#JE2003 {
    top: 220px;
    left: 563px;
    width: 170px;
    height: 96px;
}

#JA2001 {
    top: 336px;
    left: 79px;
    width: 103px;
    height: 329px;
}
#JA2005-L {
    top: 336px;
    left: 512px;
    width: 51px;
    height: 203px;
}

#JA2002 {
    top: 316px;
    left: 590px;
    width: 46px;
    height: 112px;
}

#JA2003 {
    top: 428px;
    left: 590px;
    width: 46px;
    height: 111px;
}

#JA2006-M {
    top: 539px;
    left: 596px;
    width: 40px;
    height: 72px;
}
#JA2007-N {
    top: 611px;
    left: 596px;
    width: 40px;
    height: 77px;
}
#JA2004_1 {
    top: 316px;
    left: 636px;
    width: 97px;
    height: 372px;
}
#JA2004_2 {
    top: 428px;
    left: 732px;
    width: 100px;
    height: 260px;
}
