#JB1001 {
    top: 254px;
    left: 126px;
    width: 88px;
    height: 165px;
}

#JB1002 {
    top: 455px;
    left: 126px;
    width: 88px;
    height: 117px;
}

#JB1003 {
    top: 571px;
    left: 126px;
    width: 88px;
    height: 69px;
}

#JB1004 {
    top: 254px;
    left: 242px;
    width: 118px;
    height: 78px;
}


#JB1005 {
    top: 358px;
    left: 242px;
    width: 118px;
    height: 187px;
}

#JB1006_1 {
    top: 571px;
    left: 242px;
    width: 118px;
    height: 54px;
}

#JB1006_2 {
    top: 624px;
    left: 302px;
    width: 58px;
    height: 42px;
}


#JB1007 {
    top: 254px;
    left: 359px;
    width: 43px;
    height: 78px;
}

#JB1008 {
    top: 358px;
    left: 359px;
    width: 91px;
    height: 122px;
}

#JB1009 {
    top: 479px;
    left: 359px;
    width: 91px;
    height: 66px;
}

#JB1010 {
    top: 571px;
    left: 359px;
    width: 176px;
    height: 95px;
}

#JB1011_1 {
    top: 254px;
    left: 433px;
    width: 102px;
    height: 78px;
}

#JB1011_2 {
    top: 331px;
    left: 480px;
    width: 55px;
    height: 135px;
}

#JB1012 {
    top: 465px;
    left: 480px;
    width: 55px;
    height: 107px;
}

#JB1013 {
    top: 254px;
    left: 540px;
    width: 228px;
    height: 386px;
}

#JB1014 {
    top: 254px;
    left: 767px;
    width: 169px;
    height: 412px;
}
