#JB2001 {
    top: 258px;
    left: 126px;
    width: 117px;
    height: 106px;
}

#JB2002_1 {
    top: 363px;
    left: 126px;
    width: 117px;
    height: 251px;
}
#JB2002_2 {
    top: 613px;
    left: 126px;
    width: 40px;
    height: 31px;
}

#JB2003 {
    top: 272px;
    left: 259px;
    width: 95px;
    height: 342px;
}

#JB2004 {
    top: 628px;
    left: 269px;
    width: 85px;
    height: 41px;
}


#JB2005 {
    top: 576px;
    left: 353px;
    width: 91px;
    height: 38px;
}

#JB2006 {
    top: 628px;
    left: 353px;
    width: 91px;
    height: 41px;
}

#JB2007 {
    top: 576px;
    left: 443px;
    width: 87px;
    height: 38px;
}

#JB2008 {
    top: 576px;
    left: 546px;
    width: 72px;
    height: 38px;
}

#JB2009 {
    top: 628px;
    left: 546px;
    width: 97px;
    height: 41px;
}

#JB2010 {
    top: 576px;
    left: 617px;
    width: 91px;
    height: 38px;
}

#JB2011_1 {
    top: 258px;
    left: 707px;
    width: 230px;
    height: 53px;
}

#JB2011_2 {
    top: 310px;
    left: 821px;
    width: 116px;
    height: 159px;
}

#JB2012 {
    top: 310px;
    left: 707px;
    width: 115px;
    height: 54px;
}

#JB2013 {
    top: 376px;
    left: 707px;
    width: 100px;
    height: 93px;
}

#JB2014 {
    top: 468px;
    left: 707px;
    width: 100px;
    height: 54px;
}
#JB2015 {
    top: 521px;
    left: 707px;
    width: 100px;
    height: 93px;
}
#JB2016 {
    top: 628px;
    left: 707px;
    width: 115px;
    height: 41px;
}
#JB2017 {
    top: 468px;
    left: 821px;
    width: 116px;
    height: 54px;
}
#JB2018 {
    top: 521px;
    left: 821px;
    width: 116px;
    height: 61px;
}
#JB2019 {
    top: 581px;
    left: 821px;
    width: 116px;
    height: 48px;
}
#JB2020 {
    top: 628px;
    left: 821px;
    width: 116px;
    height: 41px;
}















































