#JB3001 {
    top: 257px;
    left: 126px;
    width: 230px;
    height: 411px;
}

#JB3002 {
    top: 575px;
    left: 355px;
    width: 114px;
    height: 41px;
}

#JB3003 {
    top: 628px;
    left: 355px;
    width: 91px;
    height: 40px;
}

#JB3004 {
    top: 575px;
    left: 468px;
    width: 69px;
    height: 41px;
}


#JB3005 {
    top: 575px;
    left: 536px;
    width: 172px;
    height: 41px;
}

#JB3006 {
    top: 257px;
    left: 707px;
    width: 230px;
    height: 162px;
}
#JB3007_1 {
    top: 418px;
    left: 735px;
    width: 202px;
    height: 253px;
}
#JB3007_2 {
    top: 628px;
    left: 707px;
    width: 29px;
    height: 43px;
}
