#JB4001 {
    top: 257px;
    left: 125px;
    width: 230px;
    height: 412px;
}

#JB4002 {
    top: 574px;
    left: 354px;
    width: 265px;
    height: 95px;
}

#JB4003 {
    top: 574px;
    left: 618px;
    width: 90px;
    height: 95px;
}

#JB4004 {
    top: 257px;
    left: 707px;
    width: 229px;
    height: 412px;
}

