#JB5002_1 {
    top: 257px;
    left: 125px;
    width: 230px;
    height: 411px;
}
#JB5002_2 {
    top: 575px;
    left: 355px;
    width: 153px;
    height: 93px;
}

#JB5001 {
    top: 257px;
    left: 707px;
    width: 230px;
    height: 411px;
}

#JB5003 {
    top: 575px;
    left: 508px;
    width: 200px;
    height: 93px;
}
