#JC1001 {
    top: 397px;
    left: 201px;
    width: 236px;
    height: 220px;
}

#JC1002 {
    top: 397px;
    left: 436px;
    width: 524px;
    height: 220px;
}






































