#JC3001-K {
    top: 398px;
    left: 229px;
    width: 626px;
    height: 110px;
}

#JC3002-K {
    top: 529px;
    left: 202px;
    width: 129px;
    height: 90px;
}

#JC3003 {
    top: 529px;
    left: 331px;
    width: 629px;
    height: 90px;
}
