#JC5001 {
    top: 397px;
    left: 229px;
    width: 156px;
    height: 84px;
}

#JC5002 {
    top: 505px;
    left: 201px;
    width: 132px;
    height: 113px;
}

#JC5003 {
    top: 397px;
    left: 384px;
    width: 157px;
    height: 84px;
}

#JC5004 {
    top: 505px;
    left: 332px;
    width: 158px;
    height: 113px;
}


#JC5005 {
    top: 397px;
    left: 540px;
    width: 157px;
    height: 84px;
}

#JC5006 {
    top: 505px;
    left: 489px;
    width: 313px;
    height: 113px;
}

#JC5007 {
    top: 397px;
    left: 696px;
    width: 158px;
    height: 84px;
}

#JC5008 {
    top: 505px;
    left: 801px;
    width: 158px;
    height: 113px;
}

