#JD2001 {
    top: 352px;
    left: 194px;
    width: 61px;
    height: 102px;
}

#JD2002 {
    top: 485px;
    left: 254px;
    width: 261px;
    height: 138px;
}

#JD2003 {
    top: 352px;
    left: 254px;
    width: 65px;
    height: 102px;
}

#JD2004 {
    top: 485px;
    left: 514px;
    width: 129px;
    height: 138px;
}


#JD2005 {
    top: 352px;
    left: 318px;
    width: 68px;
    height: 102px;
}

#JD2006 {
    top: 485px;
    left: 642px;
    width: 197px;
    height: 138px;
}


#JD2007 {
    top: 352px;
    left: 385px;
    width: 130px;
    height: 102px;
}

#JD2008 {
    top: 352px;
    left: 514px;
    width: 129px;
    height: 102px;
}

#JD2009 {
    top: 352px;
    left: 642px;
    width: 132px;
    height: 102px;
}

#JD2010 {
    top: 352px;
    left: 773px;
    width: 66px;
    height: 102px;
}

#JD2011 {
    top: 352px;
    left: 838px;
    width: 62px;
    height: 102px;
}

#JD2012 {
    top: 352px;
    left: 899px;
    width: 63px;
    height: 102px;
}
