#JD3001 {
    top: 352px;
    left: 192px;
    width: 127px;
    height: 103px;
}

#JD3002 {
    top: 486px;
    left: 252px;
    width: 263px;
    height: 136px;
}

#JD3003 {
    top: 352px;
    left: 318px;
    width: 131px;
    height: 103px;
}

#JD3004 {
    top: 486px;
    left: 514px;
    width: 130px;
    height: 136px;
}


#JD3005 {
    top: 352px;
    left: 643px;
    width: 195px;
    height: 136px;
}

#JD3006 {
    top: 486px;
    left: 643px;
    width: 208px;
    height: 136px;
}


#JD3007 {
    top: 352px;
    left: 577px;
    width: 130px;
    height: 103px;
}

#JD3008 {
    top: 352px;
    left: 706px;
    width: 132px;
    height: 103px;
}

#JD3009 {
    top: 352px;
    left: 837px;
    width: 65px;
    height: 103px;
}

#JD3010 {
    top: 352px;
    left: 901px;
    width: 62px;
    height: 103px;
}

   















































