#JD4001 {
    top: 352px;
    left: 152px;
    width: 102px;
    height: 102px;
}

#JD4002 {
    top: 487px;
    left: 253px;
    width: 67px;
    height: 138px;
}

#JD4003 {
    top: 352px;
    left: 253px;
    width: 65px;
    height: 102px;
}

#JD4004 {
    top: 487px;
    left: 319px;
    width: 66px;
    height: 138px;
}
#JD4005 {
    top: 352px;
    left: 317px;
    width: 68px;
    height: 102px;
}
#JD4006 {
    top: 487px;
    left: 384px;
    width: 65px;
    height: 138px;
}
#JD4007 {
    top: 352px;
    left: 384px;
    width: 65px;
    height: 102px;
}
#JD4008 {
    top: 487px;
    left: 448px;
    width: 65px;
    height: 138px;
}
#JD4009 {
    top: 352px;
    left: 448px;
    width: 65px;
    height: 102px;
}
#JD4010 {
    top: 487px;
    left: 512px;
    width: 67px;
    height: 138px;
}

#JD4011 {
    top: 352px;
    left: 512px;
    width: 67px;
    height: 104px;
}
#JD4012 {
    top: 487px;
    left: 578px;
    width: 66px;
    height: 138px;
}
#JD4013 {
    top: 352px;
    left: 578px;
    width: 66px;
    height: 104px;
}
#JD4014 {
    top: 487px;
    left: 643px;
    width: 66px;
    height: 138px;
}
#JD4015 {
    top: 352px;
    left: 643px;
    width: 66px;
    height: 104px;
}
#JD4016 {
    top: 487px;
    left: 708px;
    width: 65px;
    height: 138px;
}
#JD4017 {
    top: 352px;
    left: 708px;
    width: 65px;
    height: 104px;
}
#JD4018 {
    top: 487px;
    left: 772px;
    width: 66px;
    height: 138px;
}
#JD4019 {
    top: 352px;
    left: 772px;
    width: 66px;
    height: 104px;
}
#JD4020 {
    top: 352px;
    left: 837px;
    width: 126px;
    height: 104px;
}