#JZ2001_1 {
    top: 184px;
    left: 154px;
    width: 44px;
    height: 91px;
}

#JZ2001_2 {
    top: 275px;
    left: 170px;
    width: 52px;
    height: 77px;
}

#JZ2002_1 {
    top: 197px;
    left: 244px;
    width: 49px;
    height: 85px;
}
#JZ2002_2 {
    top: 282px;
    left: 271px;
    width: 40px;
    height: 115px;
}
#JZ2003-J {
    top: 352px;
    left: 195px;
    width: 41px;
    height: 70px;
}

#JZ2004-J {
    top: 405px;
    left: 289px;
    width: 49px;
    height: 55px;
}
#JZ2005-J {
    top: 427px;
    left: 214px;
    width: 45px;
    height: 87px;
}
#JZ2007-J_1 {
    top: 526px;
    left: 231px;
    width: 51px;
    height: 55px;
}
#JZ2007-J_2 {
    top: 581px;
    left: 240px;
    width: 84px;
    height: 60px;
}
#JZ2006_1 {
    top: 494px;
    left: 311px;
    width: 71px;
    height: 64px;
}
#JZ2006_2 {
    top: 475px;
    left: 297px;
    width: 56px;
    height: 19px;
}
#JZ2009 {
    top: 581px;
    left: 324px;
    width: 81px;
    height: 60px;
}
#JZ2008-A {
    top: 494px;
    left: 382px;
    width: 256px;
    height: 64px;
}
#JZ2011-A {
    top: 581px;
    left: 405px;
    width: 99px;
    height: 60px;
}
#JZ2010 {
    top: 494px;
    left: 638px;
    width: 283px;
    height: 147px;
}
