#JZ3017_1 {
    top: 496px;
    left: 673px;
    width: 248px;
    height: 145px;
}
#JZ3017_2 {
    top: 496px;
    left: 603px;
    width: 71px;
    height: 60px;
}
#JZ3015 {
    top: 580px;
    left: 540px;
    width: 134px;
    height: 61px;
}
#JZ3016 {
    top: 496px;
    left: 483px;
    width: 55px;
    height: 60px;
}
  
#JZ3013 {
    top: 580px;
    left: 477px;
    width: 64px;
    height: 61px;
}
#JZ3014 {
    top: 496px;
    left: 438px;
    width: 46px;
    height: 60px;
}
#JZ3011 {
    top: 580px;
    left: 405px;
    width: 73px;
    height: 61px;
}
#JZ3012 {
    top: 496px;
    left: 311px;
    width: 127px;
    height: 60px;
}
#JZ3009-B {
    top: 580px;
    left: 352px;
    width: 54px;
    height: 61px;
}
  
#JZ3007-B_1 {
    top: 580px;
    left: 279px;
    width: 74px;
    height: 61px;
}
        
#JZ3007-B_2 {
    top: 525px;
    left: 240px;
    width: 39px;
    height: 116px;
}  

#JZ3010 {
    top: 437px;
    left: 297px;
    width: 49px;
    height: 59px;
}  
 
#JZ3005 {
    top: 420px;
    left: 215px;
    width: 39px;
    height: 105px;
}  
 
#JZ3008 {
    top: 369px;
    left: 282px;
    width: 49px;
    height: 68px;
}  
 
#JZ3006 {
    top: 303px;
    left: 264px;
    width: 52px;
    height: 66px;
}  
 
#JZ3003 {
    top: 321px;
    left: 190px;
    width: 42px;
    height: 99px;
}  
 
#JZ3004-I {
    top: 247px;
    left: 248px;
    width: 52px;
    height: 56px;
}  
#JZ3002-I {
    top: 186px;
    left: 232px;
    width: 55px;
    height: 61px;
} 
 #JZ3001_1 {
    top: 186px;
    left: 151px;
    width: 48px;
    height: 73px;
} 

 #JZ3001_2 {
    top: 259px;
    left: 165px;
    width: 56px;
    height: 62px;
}
