#JZ5001_1 {
    top: 180px;
    left: 153px;
    width: 43px;
    height: 88px;
}

#JZ5001_2 {
    top: 268px;
    left: 163px;
    width: 54px;
    height: 51px;
}

#JZ5002 {
    top: 195px;
    left: 250px;
    width: 44px;
    height: 104px;
}

#JZ5003-F {
    top: 319px;
    left: 183px;
    width: 53px;
    height: 70px;
}

#JZ5004-F {
    top: 299px;
    left: 264px;
    width: 49px;
    height: 72px;
}


#JZ5005-G {
    top: 389px;
    left: 200px;
    width: 50px;
    height: 63px;
}


#JZ5006-G {
    top: 371px;
    left: 280px;
    width: 55px;
    height: 66px;
}


#JZ5008-H {
    top: 437px;
    left: 298px;
    width: 46px;
    height: 57px;
}

#JZ5007-H {
    top: 452px;
    left: 217px;
    width: 47px;
    height: 75px;
}

#JZ5009_1 {
    top: 527px;
    left: 230px;
    width: 50px;
    height: 52px;
}

#JZ5009_2 {
    top: 579px;
    left: 243px;
    width: 117px;
    height: 63px;
}

#JZ5010 {
    top: 494px;
    left: 131px;
    width: 94px;
    height: 62px;
}

#JZ5011 {
    top: 579px;
    left: 360px;
    width: 180px;
    height: 63px;
}

#JZ5012 {
    top: 494px;
    left: 407px;
    width: 133px;
    height: 62px;
}

#JZ5013 {
    top: 494px;
    left: 602px;
    width: 318px;
    height: 148x;
}
 




































