
.room {
    display: inline-block;
    position: absolute;
    background-size: contain;
    border: #0026ff dotted 1px;
    color: white;
    font-size: xx-small;
}



.s0 {
    background-color: green;
    opacity: 0.5;
}

.s1 {
    background-color: blueviolet;
    opacity: 0.5;
}

.s2 {
    background-color: blue;
    opacity: 0.5;
}

.s8 {
    background-color: yellow;
    opacity: 0.5;
}
